.seat {
  background-color: lightgray;
  border-radius: 5px;
  border: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-align: center;
}

.php-bg {
  background-color: #8C8ABB !important;
}

.cf-bg {
  background-color: #002155 !important;
  color: white;
}

.react-bg {
  background-color: #EFD81D !important;
}

.walk-area {
  background-color: rgb(240 178 207) !important;
}

.selected-place {
  background-color: orange !important;

}

.dev-area {
  background-color: lightGrey !important;
}

.available-seats {
  background-color: white !important;
  border: solid 3px green;
}

.particular-stack {
  background-color: white !important;
  border: solid 3px #002155;
  background-color: red !important;
}

.grid-parent-layout {
  width: 100%;
  overflow: auto;
}

.secondElement {
  padding: 50px;
  width: 40%;
  margin-left: 10px;
  border-left: solid 2px black;
  /* background-color: gainsboro; */
}

.profile {
  display: flex;
  gap: 10px;
}

.displayDetails {
  display: flex;
  flex-direction: column;
}

.unchange-cells {
  background-color: #3636369f;
  color: #ffffff;
  cursor: not-allowed !important;
}

.empty-seat {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid green;
}

.frontend {
  background-color: #EFD81D !important;
}

.backend {
  background-color: #002155 !important;
  color: white;
}

.php {
  background-color: #8C8ABB !important;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 0 0 #0ddb10;
  }

  50% {
    box-shadow: 0 0 15px 0 #0ddb10;
  }
}

.custom-box-glow {
  border-color: #0ddb1068 !important;
  background: linear-gradient(360deg, #17f24363 10%, #17f29735 50%, #17f27a38 100%);
  animation: glow 1.4s ease-out infinite;
}

/* Circle Badge Container */
.phone-icon-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  /* Adjust size of the circle */
  height: 20px;
  border-radius: 50%;
  /* Circular border */
  border: 2px solid #1890ff;
  /* Professional blue border */
  background-color: #e6f7ff;
  /* Light blue-gray background */
  transition: background-color 0.3s;
  /* Smooth background transition */
}

/* Phone Icon Style */
.phone-icon {
  font-size: 12px;
  /* Adjust icon size */
  color: #1d39c4;
  /* Deep blue icon color */
}

/* Hover Effect */
.phone-icon-container:hover {
  background-color: #bae7ff;
  /* Darker blue background on hover */
}


.multiple-drawer-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-align: start;
  line-height: 30px;
  /* position: relative; */
}
.multiple-drawer-grid {
  /* display: grid; */  
  margin-top: 20px;
  /* grid-template-columns: auto auto auto; */
  padding: 0px 5px 0px 5px;
  gap: 10px;
  width: 100%;
}

.multiple-drawer-tags {
 width: fit-content;
}

@keyframes glowTL {
  0% {
    box-shadow: 0 0 0 0 #833ab4;
  }

  50% {
    box-shadow: 0 0 15px 0 #833ab4;
  }
}

.custom-box-glow-tl {
  color: white;
  border-color: #833ab4 !important;
  background: #833ab4;
  animation: glowTL 1.4s ease-out infinite;
}

.tl-group-color{
  background-color: #5deeb1;
}

.icon-wrapper svg {
  width: 1.5rem;
  height: 1.5rem;
}

.ant-layout-header {
  background-color: white;
}

.header-imag-wrapper img {
 width: 10rem;
}

.icons-container {
  display: flex;
  gap: 2rem;
}